<div >
  <div>
      <div class="body">
        <form
        
          method="POST"
          class="w-543px h-383px rounded-1 p-4 border bg-white"
          enctype="multipart/form-data">
          <button id="b12" type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
          <br>
        
          <label class="d-block mb-4">
            <span class="form-label d-block" class="row mx-0 justify-content-center">Admin Email</span>
            <br>
            <input
            [(ngModel)]="adminLogin.admin_id" name="adminLogin.admin_id"
              type="text"
              class="form-control"
              placeholder="Email address"
            />
          </label>

          <label class="d-block mb-4">
            <span class="form-label d-block" class="row mx-0 justify-content-center">Password</span>
            <br>
            <input
            [(ngModel)]="adminLogin.password" name="adminLogin.password"
              type="password"
              class="form-control"
              placeholder="password"
            />
          </label>
  
          
        
  
          <div class="mb-3 row mx-0 justify-content-center">
            <button type="submit" class="btn btn-primary px-3 rounded-3" (click)="admin_login()" >
              Submit
            </button>
          </div>
  
          <div class="d-block text-end">
            
          </div>

        </form>
      </div>
    </div>
  </div>





  


  <!-- (click)="admin_login()" -->









































































<!-- Section: Design Block -->
<!-- <section class="text-center text-lg-start">
  <NAv>
    <div id="logo-text">
      <a href="#">
        <img src="../../../assets/images/tut.png" alt="SMART FARM" style="float: left;height: 72px;width: 225px;">
      </a>
    </div>
    <div id="menu-icon">
        <i class="fas fa-bars"></i>
    </div>

    <ul>
        <li>
            <a class="nav-link active" id="ModalExample" routerLink="login">ADMIN</a>
        </li>
        <li>
            <a class="nav-link active" id="ModalExample" routerLink="techlogin">TECHNICIAN</a>
        </li>
        
    </ul>
</NAv>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
   -->
    <!-- Jumbotron -->
    <!-- <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Admin Login</h2>
              <form> -->
                <!-- Email input -->
                <!-- <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div> -->
  
                <!-- Password input -->
                <!-- <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div> -->
  
  
                <!-- Submit button -->
                <!-- <button type="submit" class="btn btn-primary btn-block mb-4" href="#">
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="../../assets/images/admin.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div> -->
    <!-- Jumbotron -->
  <!-- </section> -->
  <!-- Section: Design Block -->
  <!-- <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer>&copy; 2023 Technical services Project . All Rights Reserved <p></p>
  </footer> -->
