
  .departmenCategoryText {
    padding: 61px;
  }
  
  body {

    width: 100%;
  }
.header {
    height: 82px;
    background: #0c0c0c;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding:0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
  }
  
.header a {
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;
  }
  
.header a:hover {
    text-decoration: none;
    color: red;
  }
  
.header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
  }

#logoDiv{
    margin-left: 1%;
    margin-top: 7.2px;
  }

  /*Start of Side navigation */
.sideNav {
    float: left;
   
    box-shadow: 5px 0 2px #969292;
    width: 335px;
    height: 1055px;
    
  }

.breadcrumbNav {
    margin: 12% 10px;
    padding: 20px 30px;      
  }
#breadcrumbpadding {
    width: 120px;  
    padding: 6px 0;
  }
  
a {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.035em;
    text-transform: capitalize;
    color: #005596;
    text-decoration: none;
  }
  
.breadcrumbNav ul {
    list-style:none ;
    flex-direction: column;
  }
.breadcrumb-item.active {
    border-bottom: 3px solid #005596;
    width: 115px;  
    
  }
  
a:disabled, a[disabled] {
    color: #005596;
  }
  
.anchorBorder{
  
    margin:0 20%;
  }
  
#hover:hover {
    font-weight: bold;
  }
.totaltasksTitle {
 
    margin-right: 25%;
    font-weight: 500;
    color: #005596;
  }
.progressTotalsDiv {
  margin: 80% auto;
  
}
.contentMargin,label{
  margin: 3.5px 0;
  text-align: center;
}
.numbertotal{
  background-color: white;
  border-radius: 8px;
  padding: 6px;
  color: black;
  
}
.In-progressTasks{
  background-color: orange;
  color: white;
  border-radius:8px;
  width: 140px;
  padding: 4px;
}
.In-progressTasks:hover{
  font-weight: 500;
}


.completedTasks{
  background-color: green;
  color: white;
  border-radius:8px;
  width: 140px;
  padding: 4px;
}
.completedTasks:hover{
  font-weight: 500;
}

/*End of Side navigation */
 /*logout button*/
.btn-success{
  color: white;
  border: 2px solid white;
  height: 40px;
  background-color: #005596;
}
.btn-success:active{
  border: white;
  background-color: #005596;
}   
.container2{
    
    margin-top: 3.8%;
   
  }
  
.tab-content {
      float: right;
      width: 80%;
      margin-left: 0%;
      margin-top: 1%;
      
    }
   
.progressBtns{
       
        border-bottom: none;
        padding-left: 40%;
    }
    
  
.colorAmber{
    background: orange;
    color: white;
    font-weight: bold;
   }
    
.colorRed{
    background: red;
    color: white;
    font-weight: bold;
   }

.table {
       
      width: 92%;
      margin: auto auto;
    }
.left{

      margin-right: 15%;
      margin-top: 0%;
    }
.content{
    border: 1px solid #ccc;
    overflow-y: scroll;
    height: auto; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 85%;
    margin: auto auto;
  }
    /*Footer*/
footer{
      background: black;
      padding: 8px;
      color: #eee;
      text-align: center;
      margin-left: 0%;
      margin-top: auto;
      width: 100%;
      height: 40px;
      /* position: absolute; */
      /* bottom: 0;
      width: 100%; */
    }

.printReportBtn {
  
        border-radius: 10px;
        width: 120px;
        margin:1% 0%;
        height:30px;
        background: #005596;
        color:white;
        border: 1px solid white;
    }
.printReportBtn:hover{
  border:1px solid black;
}
  
    @media print {
      .container-fluid{
        visibility: hidden;
      }
        body{
            visibility: hidden;
        }
    
        .navtab{
    
            visibility: hidden;
            /* position: absolute; 
            top: 10%;
            left: 20%; */
        }
        .contentToPrint {
    
            visibility: visible;
            position: absolute;
            top: 14%;
            left: 15%;
           
            
        }
        
        .printReportBtn{
            visibility: hidden;
        }
        .card {
            width: 60%;
        }
    }