<div>
    <div>
      <div class="body">
        <form method="POST" class="w-543px h-383px rounded-1 p-4 border bg-white" action="#"
          enctype="multipart/form-data">
          <button id="b12" type="button" class="btn-close float-right" (click)="close()" aria-label="Close"></button>
          <br>
          <label class="d-block mb-4">
            <span class="form-label d-block" class="row mx-0 justify-content-center"><h2>       Request Has been Submitted!</h2></span>
            <br>
          </label>
  
        </form>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- <div class="container mt-4 mb-4 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row mx-0 justify-content-center">
        <div class="col-md-8 col-lg-8 px-lg-2 col-xl-8 px-xl-0 px-xxl-3">
          <form
            method="POST"
            class="w-100 rounded-1 p-4 border bg-white"
            action="#"
            enctype="multipart/form-data"
            [formGroup]="userForm" (ngSubmit)="userSubmit()">
            <label class="d-block mb-4">
              <span class="form-label d-block">Your name</span>
              <input
              formControlName="name"
                type="text"
                class="form-control"
                placeholder="Joe Bloggs"
              />
            </label>
    
            <label class="d-block mb-4">
              <span class="form-label d-block">Email address</span>
              <input
              formControlName="email"
                type="text"
                class="form-control"
                placeholder="joe.bloggs@example.com"
              />
                <label class="d-block mb-4">
                  <span class="form-label d-block">Office Number</span>
                  <input
                  formControlName="office"
                    type="text"
                    class="form-control"
                    placeholder="10-142"
                  />
                </label>
            </label>
            <label class="d-block mb-4">
              <span class="form-label d-block">Title</span>
              <input
              formControlName="title"
                type="text"
                class="form-control"
                placeholder="The lab PC Crashed"
              />
            </label>
    
            
    
            <label class="d-block mb-4">
              <span class="form-label d-block">Description</span>
              <textarea
              formControlName="description"
                class="form-control"
                rows="3"
                placeholder="Please describe your problem"
              ></textarea>
            </label>
    
            <div class="mb-3">
              <button type="submit" class="btn btn-primary px-3 rounded-3" (click)="close()">
                Submit
              </button>
            </div>
    
            <div class="d-block text-end">
              
            </div>
            <div><button mat-button class="btn btn-success" (click)="close()" mat-dialog-close>Close</button>
            </div>
  
          </form>
        </div>
      </div>
    </div> -->