<div class="container-fluid">
  <!-- <body class="container"> -->
      <div class="log d-flex justify-content-end">
          <nav class="header">
              <div id="logoDiv">
                  <a>
                      <img class="logo" src="../../../assets/images/tut.png" alt="SMART FARM"
                          style="float: left;height: 70px;width: 225px;" routerLink="read">
                  </a>
              </div>
              <div id="menu-icon">
                  <i class="fas fa-bars"></i>
              </div>
              <ul>
                <div class="dropdown">
                  <button class="dropbtn">REQUEST</button>
                  <div class="dropdown-content">
                    <a class="nav-link active" id="ModalExample" (click)="openForm()">Log Complaint</a>
                  </div>
                </div>
                  <li>
                      <a class="nav-link active" id="ModalExample" (click)="openLogin()">ADMIN</a>
                  </li>
                  <li>
                    <a class="nav-link active" id="ModalExample" (click)="openHOD()">HOD</a>
                </li>
                  <li>
                    <a class="nav-link active" id="ModalExample" (click)="openTech()">TECHNICIAN</a>
                  </li>
                  
              </ul>
      
          </nav>
      </div>
</div>





<!-- <body class="container"> -->
   


   
<div id="banner">
    <h1>Technical Services</h1>
    <h3>We Can Help You Fix All Of Your Technical Problems</h3>
</div> 
    <section id="about">
      <div id="about-text">
        <h1>About<span>Us</span></h1>
        <br>
        <p>IT forms part of coporations across the globe. It plays an integral role in companies and alot of businesses rely on IT services. 
          Employees regularily encounter Technical difficulties - Hardware or Software failures which make it impossible for employees to complete their tasks.
        These difficulties slow down down productivity and need to be resolved as soon as possible. </p>
    
        <p>Companies have put in place Technical support - Helpdesk, which aims to resolve technical problems encountered by employees.
          Regardless of of such, they are innefective. The Technical Services System aims to improve/help employees in an orgarnisation solve
        technical difficulties effectively. Thus improving productivity in orgarnisations.</p>
      </div> 
      <div class="about-img"><img src="../../../assets/images/footer.png"  style="height: 500px;width: 400px;"></div>
    </section>
    
    
    
    
    <footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
    </footer>
