.departmenCategoryText {
    padding: 4.08%;
}

body {
    width: 100%;
  }
  /* Start of the navigation bar*/
  .header {
    height: 82px;
    background: #0c0c0c;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding:0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
  }
  .header a {
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;
  }
  .header a:hover {
    text-decoration: none;
    color: red;
  }
  .header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  #logoDiv{
  
    margin-left: 1%;
    margin-top: 7.2px;
  
  }
  
  /*logout button*/
  .btn-success{
    color: white;
    border: 2px solid white;
    height: 40px;
    background-color: #005596;
  }
  .btn-success:active{
    border: white;
    background-color: #005596;
  }
  /* End of the navigation bar*/
  /* Start of  Everything on the side nav*/
  .sideNav {
    float: left;
   
    box-shadow: 5px 0 2px #969292;
    width: 335px;
    height: 1055px;
    
  }
  .breadcrumbNav {
    margin: 12% 10px;
    padding: 20px 30px;      
  }
  #breadcrumbpadding {
  
    width: 120px;  
    padding: 6px 0;
  }
  a {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.035em;
    text-transform: capitalize;
    color: #005596;
    text-decoration: none;
  }
  .breadcrumbNav ul {
    list-style:none ;
    flex-direction: column;
  }
  .breadcrumb-item.active {
    border-bottom: 3px solid #005596;
    width: 115px;  
  }

  /* End of Everything on the side nav*/
  
  /*Disable the active link*/
  a:disabled, a[disabled] {
    color: #005596;
  }
  .anchorBorder{
    margin:0 20%;
  }
  /*Adding a hover effect on the sidenav links*/
  #hover:hover {
    font-weight: bold;
   
   
  }
  /*Cards that show progress on top on the right content*/
  .ticket{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(94, 93, 93, 0.993);
    font-family: "Times New Roman";
    font-style: normal;
    
  
  }
  .ticket:hover{
    text-decoration: none;
    border-left: 8px solid rgb(14, 60, 90);
  }
  /*SideNav content on the left*/
  .container2{
    margin-top: 3.8%;
  }
  /*Div for the content on the right*/
  .tab-content {
      float: right;
      width: 80%;
      margin-right: 0%;
    }
    /*Footer*/
  footer{
      background: black;
      padding: 8px;
      color: #eee;
      text-align: center;
      margin-left: 0%;
      margin-top: auto;
      width: 100%;
      height: 40px;
      /* position: absolute; */
      /* bottom: 0;
      width: 100%; */
    }
    
    
    
    /*Navigation*/
  /*   
    nav {
      height: 72px;
      background: #0c0c0c;
      width: 100%;
      margin: 0;
      position: fixed;
      font-family: 'Roboto Condensed',sans-serif;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      padding:0 16px 0 0;
      box-sizing: border-box;
      z-index: 100;
    }
    
    nav a {
      padding: 0 32px;
      color: #eee;
      transition: 0.4s;
    }
    
    nav a:hover {
      text-decoration: none;
      color: red;
    }
    
    nav ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      margin: 0;
    }
    
    .active {
      color:#0e0d0d;
    } */
  .table {
      width: 90%;
      margin: auto auto;
    }
  select#Cater,input.form-control {
      width: 100%;
      padding: 0 0;
      border-radius: 0.25rem;
    }
  .content{
    overflow-y: scroll;
    height: auto; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 85%;
    margin: auto auto;
  }
.status {
        background-color: #7F4D3E;
        color: white;
  }
.logbtn{
    color: white;
    background-color: #005596;
    border: 1px solid white;
    border-radius: 8px;
    padding:5px ;
    width:70px;

  }

.logbtn:hover{
    border: 1px solid black;
    font-weight: 500;
  }