 
  
.sideNav {
    float: left;
    box-shadow: 5px 0 2px #969292;
    width: 335px;
    height: 1055px;
    
  }
  
  .breadcrumbNav {
    margin: 12% 10px;
    padding: 20px 30px;      
  }
  #breadcrumbpadding {
  
    width: 115px;  
    padding: 6px 0;
  }
  
  a {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
  
    letter-spacing: 0.035em;
    text-transform: capitalize;
  
    color: #005596;
    text-decoration: none;
  }
  
  .breadcrumbNav ul {
  
    list-style:none ;
    flex-direction: column;
  }
  .breadcrumb-item.active {
   
    
    border-bottom: 3px solid #005596;
    width: 115px;  
    
  }
  
  .anchorBorder{
  
      
    margin:0 20%;
  }
  
  #hover:hover {
    font-weight: bold;
   
   
  }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    